@import "libs"
@import "vars"

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  overflow-x: hidden

.home
  width: 100%
  position: relative
  display: block
  background-color: $accent
  height: 90vh

.home-wave
  position: absolute
  bottom: -60px
  width: inherit
  display: block

.home-logo
  color: #ffffff
  font-family: $font400
  font-size: 24px
  font-weight: 700
  text-transform: uppercase
  white-space: nowrap
  margin-right: 107px

.home-soc-logo
  height: 20px
  margin-right: 43px

.container-flex_home-logo
  display: flex
  padding-top: 38px
  justify-content: center

.container-flex_home-text
  display: flex
  height: 90%
  justify-content: center
  align-items: center

.container-flex_home-menu
  display: flex
  margin-right: 100px

.home-menu_item
  text-decoration: none
  color: #e1e1e1
  font-family: $font400
  font-size: 18px
  font-weight: 400
  line-height: 21.6px
  margin: 0 50px

.home-text
  width: 40%
  display: block
  position: relative
  z-index: 10

.home-image
  display: block
  position: relative
  z-index: 10

.container-home-image
  width: 30%
  margin-top: 5%

.home-text h1
  color: #ffffff
  font-family: $font400
  font-size: 60px
  font-weight: 700

.home-text p
  color: #ffffff
  font-family: $font400
  font-size: 18px
  font-weight: 400
  line-height: 30px
  padding: 30px 0 40px

.home-text_orange-button
  width: 158px
  height: 52px
  padding-top: 15px
  display: inline-block
  background-color: $orange
  border: none
  border-radius: 5px
  margin-right: 10px

.home-text_button
  width: 158px
  height: 52px
  padding-top: 15px
  display: inline-block
  background-color: #4466c9
  border: none
  border-radius: 5px

.home-text_button_link
  color: #ffffff
  text-align: center
  font-family: $font400
  font-size: 18px
  font-weight: 700
  text-decoration: none

.features
  padding-top: 190px
  background: linear-gradient( 90deg, white 99.5%, transparent 50%)
  background-size: 200px
  background-color: #ededf6

.features_container-flex
  display: flex
  justify-content: center

.section-h2
  color: $accent
  font-family: $font700
  font-size: 36px
  text-transform: uppercase
  text-align: center
  padding-bottom: 25px

.section-p
  color: #999999
  font-family: $font400
  font-size: 18px
  text-align: center
  padding-bottom: 130px

.features-item
  width: 355px
  margin: 0 25px

.features-item h5
  color: #353854
  font-family: $font700
  font-size: 24px
  line-height: 36px
  padding-bottom: 24px
  margin-left: 100px

.features-item p
  text-align: left
  color: #aeaeae
  font-family: $font400
  line-height: 30px
  font-size: 16px
  margin-left: 100px

.features-item img
  position: absolute
  margin-top: 20px

.widgets
  margin-top: 150px

.screenshots_container-flex
  display: flex
  justify-content: center
  align-items: center
  height: 700px
  width: 100%

.screenshots_container-flex_item
  width: 30%
  position: relative

.screenshots_container-flex_item_2
  width: 30%

.left
  text-align: left

.screenshots-description
  color: #353854
  font-family: $font400
  font-size: 24px
  line-height: 36px

.screenshots-bg-text
  opacity: 0.59
  color: #ededf2
  font-family: $font400
  font-size: 250px
  font-weight: 300
  line-height: 166.67px
  letter-spacing: -2.4px
  display: block
  position: absolute
  top: 30%
  transform: rotate(90deg)

.screenshots-img
  z-index: 10
  display: block
  position: relative

.screenshots-icon
  margin-bottom: 47px

.screenshots-icon-down
  margin-top: 42px






